:root {
  --titleFont: "Anton", sans-serif;
  --font: "Open Sans", sans-serif;
  --mainWhite: #f5f5f5;
  --mainDark: #050505;
  --smallTitle: 28px;
}

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
